<launch>
    <!-- Primo nodo -->
    <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen">
    
    </node>

    <!-- Secondo nodo -->
    <node name="UI_node1_CN" pkg="assignment1_rt" type="UI_node_1_CN" output="screen">
    
    </node>

    <!-- Terzo nodo -->
    <node name="CK_node2_RDC" pkg="assignment1_rt" type="CK_node_2_RDC" output="screen">
    
    </node>
</launch>

